<p>cards works!</p>

<div class="container">
    <div class="card" id="card1">
        <img src="/assets/img/1-black-widow.svg"  alt="BlackWidow">
        <p>Black Widow</p>
      </div>
        
      <div class="card" id="card2">
        <img src="/assets/img/2-shang-chi.svg" alt="shangchi">
        <p>ShangChi</p>
      </div>
      
      <div class="card" id="card3">
        <img src="/assets/img/3-loki.svg" alt="loki">
        <p>Loki</p>
      </div>
        
      <div class="card" id="card4">
        <img src="/assets/img/4-how-i-met-your-mother.svg" alt="himym">
        <p>How I Meet Your Mother</p>
      </div>

      <div class="card" id="card5">
        <img src="/assets/img/5-money-heist.svg" alt="money-heist">
        <p>Money Heist</p>
      </div>
        
      <div class="card" id="card6">
       <img src="/assets/img/6-friends.svg" alt="friends">
       <p>Friends</p>

      </div>
      
      <div class="card" id="card7">
        <img src="/assets/img/7-the-big-bang-theory.svg" alt="big-bang-theory">
        <p>The Big Bang Theory</p>
      </div>

      <div class="card" id="card8">
        <img src="/assets/img/8-two-and-a-half-men.svg" alt="2and-a-half-men">
        <p>Two And A Half Men</p>
      </div>         
</div>