<section>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Todos</button>
    <button type="button" class="btn btn-primary">Películas</button>
    <button type="button" class="btn btn-primary">Series</button>
  </div>

  <div>
    <h2>Todos</h2> <p>(120)</p>
  </div>

  

</section>



<section class="container-fluid" id="card">

    

  <div class="card">
    <div class="card-body">
        <img src="/assets/img/1-black-widow.svg" alt="BlackWidow">
    </div>
    <div class="card-footer">Black Widow</div>
  </div>
  
  <div class="card">
    <div class="card-body">
        <img src="/assets/img/2-shang-chi.svg" alt="shangchi">
    </div>
    <div class="card-footer">ShangChi</div>
  </div>
  
  
  <div class="card" id="cards">
    <div class="card-body">
      <img src="/assets/img/3-loki.svg" alt="loki">
    </div>
    <div class="card-footer">Loki</div>
  </div>
    
  <div class="card">
    <div class="card-body">
      <img src="/assets/img/4-how-i-met-your-mother.svg" alt="himym">
    </div>
    <div class="card-footer">How I Meet Your Mother</div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="/assets/img/5-money-heist.svg" alt="money-heist">
    </div>
    <div class="card-footer">Money Heist</div>
  </div>
    
  <div class="card">
    <div class="card-body">
      <img src="/assets/img/6-friends.svg" alt="friends">
    </div>
   <div class="card-footer">Friends</div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <img src="/assets/img/7-the-big-bang-theory.svg" alt="big-bang-theory">
    </div>
    <div class="card-footer">The Big Bang Theory</div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="/assets/img/8-two-and-a-half-men.svg" alt="2and-a-half-men">
    </div>
    <div class="card-footer">Two And A Half Men</div>
  </div>         

</section>