

<section class="container-fluid" id="card">

    <div class="card" id="cards">
      <p class="puntuacion">6.8</p>
      <img class="card-img" src="/assets/img/black-widow.svg" alt="BlackWidow">
      <div class="card-footer">Black Widow</div>
    </div>
    
    <div class="card" id="cards">
      <p class="puntuacion">7.9</p>
      <img class="card-img" src="/assets/img/shang-chi.svg" alt="shangchi">
      <div class="card-footer">ShangChi</div>
    </div>
    
    
    <div class="card" id="cards">
      <p class="puntuacion">8.4</p>
      <img class="card-img" src="/assets/img/loki.svg" alt="loki">
      <div class="card-footer">Loki</div>
    </div>
      
    <div class="card" id="cards">
      <p class="puntuacion">8.3</p>
      <img class="card-img" src="/assets/img/how-i-met-your-mother.svg" alt="himym">
      <div class="card-footer">How I Meet Your Mother</div>
    </div>

    <div class="card" id="cards">
      <p class="puntuacion">8.3</p>
      <img class="card-img" src="/assets/img/money-heist.svg" alt="money-heist">
      <div class="card-footer">Money Heist</div>
    </div>
      
    <div class="card" id="cards">
      <p class="puntuacion">8.8</p>
      <img class="card-img" src="/assets/img/friends.svg" alt="friends">
      <div class="card-footer">Friends</div>
    </div>
    
    <div class="card" id="cards">
      <p class="puntuacion">8.1</p>
      <img class="card-img" src="/assets/img/the-big-bang-theory.svg" alt="big-bang-theory">
      <div class="card-footer">The Big Bang Theory</div>
    </div>

    <div class="card" id="cards">
      <p class="puntuacion">7.0</p>
      <img class="card-img" src="/assets/img/two-and-a-half-men.svg" alt="2and-a-half-men">
      <div class="card-footer">Two And A Half Men</div>
    </div>
</section>