<header>
    <nav>
      <div class="navbar" id="nav">
        <div class="logo" id="logo">
          <img src="/assets/icon.svg" alt="icono">
        </div>
      
        <nav class="nav nav-borders">
          <a routerLink="/inicio" class="nav-link active">Inicio</a>
          <a routerLink="/peliculas" class="nav-link" >Películas</a>
          <a class="nav-link" >Series</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#!">
                <div class="dropdown-item-icon">
                    <i data-feather="user"></i>
                </div>
                Ingresar
            </a><a class="dropdown-item" href="#!">
                <div class="dropdown-item-icon">
                    <i data-feather="ini sesion"></i>
                </div>
                Iniciar Sesión
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#!">
                <div class="dropdown-item-icon">
                    <i data-feather="Registrarse"></i>
                </div>
                Registrarse
            </a>
        </div>
        </nav>
      </div>
    </nav>
    
</header>



