<header>
    <nav>
      <div class="navbar" id="nav">
        <div class="logo" id="logo">
          <img src="/assets/icon.svg" alt="icono" routerLink="/inicio" routerLinkActive="active">
        </div>
      
        <nav class="nav nav-borders">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active" href="#">Inicio</a>
          <a class="nav-link" routerLink="/peliculas" routerLinkActive="active" href="peliculas">Movie</a>
          <a class="nav-link" routerLink="/series" routerLinkActive="active" href="series">Tv</a>
          <a class="nav-link" routerLink="/ingresar" routerLinkActive="active" href="ingresar" *ngIf="usuario == null">Ingresar</a>
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active" href="#" *ngIf="usuario != null" (click)="cerrarSesion()">Cerrar Sesión</a>
        </nav>
      </div>
    </nav>
    
</header>



