<section class="dashboard">

    <div class="title">
        <h1>Bienvenido!</h1>
    </div>

  
    <div class="container">
        <div class="row">
            <div class="row-col-6 align-self-center">
                <div class="card">

                    <div class="card-body">
                        <h1>Peliculas</h1>
                    </div>

                    <div class="card-footer">

                        <button class="btn btn-prymary" routerLink="/agregarItem">Añadir Elementos</button>

                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="row-col-sm-6 align-self-center">
                <div class="card">
                    <div class="card-body">
                        <h1>Series</h1>
                    </div>

                    <div class="card-footer">

                        <button class="btn btn-prymary" routerLink="/agregarserie">Añadir Elementos</button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    


</section>