
.dashboard{
    height: 480px;   
   
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

button{
    color: white;
    background-color: rgb(100, 100, 145);
}

button:hover{
    box-shadow: 2px 2px 10px rgb(116, 115, 115);
    background-color: rgb(4, 4, 39);
    color: white;
}

