*{
    margin: o;
    background-image: url(/assets/background.svg);
}

header{
    height: 60px;
}

#logo{
    height: 60px;
} 

#navbar{
    list-style: none;

}

button:hover{background-color: rgb(88, 72, 102);}
button:hover{color: black;}

button{
    background-color:rgb(109, 98, 117);
    border-color: rgb(153, 148, 156);;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}


#hero{
    height: 300px;
    display: flex;
    text-align: justify;
    align-items: center;
    font-style:oblique;
    font-weight: 800;
    
}


p{
    font-size: 20px;
}

#Todos{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: space-between;
    padding: 20px;
}

#Todos p{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    font-style: italic;
}

form input{
    border-radius: 5px;
    font-size: 15px;
    width: 50%;  
    
}



