.container-fluid{
    height: 500px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: white;
    
}

#img{
position: absolute;
left: 0%;
right: 0%;
top: -0.71%;
bottom: -3.57%;


}



