<section class="container-fluid">
  <div class="img">
    <img src="/assets/Saly.svg" alt="">
  </div>


  <div class="form-label">

    <div class="title">
      <h1>Registrarse</h1>
      <br>
      <br>
    </div> 


    <form>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
        </div>
      </div>
     

      <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck">
          <label class="form-check-label" for="autoSizingCheck">
            Recuérdame 
            <br>
            <br>
          </label>
        </div>
      </div>

      
     
  
    </form>

  </div>

  
  <div class=" btn col-lg-12 text-white">
    <div class="text-center">
      <p>¿Estás registrado?</p>
      <a class="btn bg-gradient text-white" routerLink="/iniciarsesion" routerLinkActive="active">Iniciar Sesión</a>
    </div>
  </div>
    

</section>