*{
    background-color: rgb(31, 31, 75);
    padding: 5px;
}



#hero{
    height: 300px;
    display: flex;
    text-align: justify;
    align-items: center;
       
    
}

h1{
    font-weight: 600;
    font-size: 50px;
    color: white;
}

p{
    font-size: 12px;
    font-weight: 400;
    color: rgb(180, 175, 175);
}

form{
    color: rgb(180, 175, 175);
    align-items: center;
    
}


.section1{
    height: 200px;
    color: rgb(243, 239, 239);
    
   
}

.text-group{
   display: flex;
   flex-wrap: wrap;
   justify-content:left;
   color: white;
   
}

