
<section class="container-fluid" id="hero">
    <div class="Hero">
      <h1>PelisUP!</h1>
      <p>Plataforma para ver películas y series</p>
      <form action="../../form-result.php" method="post" target="_blank">

        <div class="input-group input-group-joined input-group-solid">
          <span class="input-group-text">
              <i data-feather="search"></i>
          </span>
          <input class="form-control ps-0" type="text" placeholder="Buscar..." aria-label="Search">
        </div>
      
      </form>
    </div>

</section>

<section class="section1">

  <div class="button">

    <div class="btn-group col-sm-4 " role="group" aria-label="Basic example">
      <button type= "button" class="btn text-white" (click)="CambiarCategoria ('Todos')" ngClass="selected == 'Todos' ? 'button-selected : 'button-NoSelected">Todos</button>
      <button type= "button" class="btn text-white" (click)="CambiarCategoria ('series')" ngClass="selected == 'Series' ? 'button-selected : 'button-NoSelected">Series</button>
      <button type= "button" class="btn text-white" (click)="CambiarCategoria ('Peliculas')" ngClass="selected == 'Peliculas' ? 'button-selected : 'button-NoSelected">Peliculas</button>
    </div>

  </div>

  <div class="text-group">
    <h2>Todos</h2> <p>(120)</p>
  </div>

</section>

  
<section class="container-fluid" id="card" *ngFor="let movie of movies_series " >

  <div class="card" id="cards" >
    <p class="puntuacion">{{movie.rating}}</p>
    <img src= {{movie.image}} alt="">
    <div class="card-footer">{{movie.name}}</div>
  </div>

</section>
    