
<section class="container-fluid" id="hero">
    <div class="Hero">
      <h1>PelisUP!</h1>
      <p>Plataforma para ver películas y series</p>
      <form action="../../form-result.php" method="post" target="_blank">

        <div class="input-group input-group-joined input-group-solid">
          <span class="input-group-text">
              <i data-feather="search"></i>
          </span>
          <input class="form-control ps-0" type="text" placeholder="Buscar..." name="filterpeliculas" [(ngModel)]="paraBuscar" (ngModelChange)="transform(paraBuscar)" [ngModelOptions]="{standalone: true}" [(ngModel)]="filterpeliculas">
          
        </div>
      
      </form>
    </div>

</section>

<section class="section1">

  <div class="button">

    <div class="btn-group col-sm-4 " role="group" aria-label="Basic example">
      <button type= "button" class="btn text-white" (click)="CambiarCategoria ('Todos')" [ngClass]="selected == 'Todos' ? 'button-Selected' : 'button-NoSelected'">Todos</button>
      <button type= "button" class="btn text-white" (click)="CambiarCategoria ('movie')" [ngClass]="selected == 'movie' ? 'button-selected' : 'button-NoSelected'">Movie</button>
      <button type= "button" class="btn text-white" (click)="CambiarCategoria ('tv')" [ngClass]="selected == 'tv' ? 'button-selected' : 'button-NoSelected'">Tv</button>
    </div>

  </div>

  <div class="text-group">
    <h2>Todos</h2> <p>(120)</p>
  </div>

</section>

<section class="wrapper" id="card"  >
  <div class="flex-wrap" *ngFor="let movie of movies_series.results">

    <div class="card" id="cards" *ngIf="selected == movie.media_type || selected == 'Todos'">
      <app-cards [imagen]="movie.poster_path" [nombre]="movie.title || movie.original_name" [id]="movie.id" [puntuacion]="movie.vote_count" [media_type]="movie.media_type"></app-cards>
    </div>
  </div>

</section>
    