
<section class="container-fluid" id="hero">
    <div class="Hero">
      <h1>PelisUP!</h1>
      <p>Plataforma para ver películas y series</p>
      <form action="../../form-result.php" method="post" target="_blank">

        <div class="input-group input-group-joined input-group-solid">
          <span class="input-group-text">
              <i data-feather="search"></i>
          </span>
          <input class="form-control ps-0" type="text" placeholder="Buscar..." aria-label="Search">
        </div>
      
      </form>
    </div>

  </section>

  <section class="section1">

    <div class="button">

      <div class="btn-group col-sm-4 " role="group" aria-label="Basic example">
        <a class="btn bg-gradient text-white" routerLink="/inicio" routerLinkActive="active" href="inicio">Todos</a>
        <a class="btn bg-gradient text-white" routerLink="/series" routerLinkActive="active" href="series">Series</a>
        <a class="btn bg-gradient text-white" routerLink="/peliculas" routerLinkActive="active" href="pelicuas">Peliculas</a>
      </div>

    </div>
  
    <div class="text-group">
      <h2>Todos</h2> <p>(120)</p>
    </div>
  
  </section>

  <app-cards></app-cards>
  